<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand diavlo-black" [routerLink]="['/']">
      <img src="assets/images/alodesk-logo-three.png" alt="Alodesk" class="logo" height="50" />
      <img src="assets/images/alodesk-logo-three.png" alt="Alodesk" class="logo-white" height="50" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a [routerLink]="['/']" class="nav-link"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="nav-item"><a [routerLink]="['/acerca-de']" class="nav-link">Acerca de</a></li>
        <li class="nav-item"><a [routerLink]="['/funciones']" class="nav-link">¿Cómo funciona?</a></li>
        <li class="nav-item"><a [routerLink]="['/metodo-implementacion']" class="nav-link">Implementación</a></li>
        <li class="nav-item"><a [routerLink]="['/contactanos']" class="nav-link">Contáctanos</a></li>
        <li class="nav-item cta"><a [routerLink]="['/contactanos']" class="nav-link">Solicitar cotización <i
              class="fa fa-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
