<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-lg-8 heading-section text-center ftco-animate">
        <h2 class="mb-4"><span>Alódesk</span> software de Mesa de Ayuda <span>TI</span></h2>
        <p>Alódesk es un software de Mesa de Ayuda ITSM que opera bajo las buenas practicas y estándares de ITIL.
          Diseñado pensando en agilizar los procesos de TI con una disponibilidad 24/7 para conectarte desde el lugar
          donde estés, dispositivo y hora
        </p>
        <p>Proporciona un único punto de contacto que centraliza la gestión de incidentes y requerimientos reportados
          por diferentes áreas de la organización</p>
      </div>
    </div>
  </div>
  <div class="clearfix bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="services-2 text-center mt-5">
            <div class="icon">
              <span class="fas fa-warning text-white"></span>
            </div>
            <div class="text">
              <h3 class="text-white">Gestión de incidencias</h3>
              <p>Minimice las interrupciones que detienen la operación de los usuarios, aumente la productividad del
                equipo encargado en soporte</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 bg-white">
          <img src="assets/images/alodesk-about.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4">
          <div class="services-2 text-center mt-5">
            <div class="icon">
              <span class="fas fa-at text-white"></span>
            </div>
            <div class="text">
              <h3 class="text-white">Gestión de requerimientos</h3>
              <p>Gestione los requerimientos y las necesidades de las áreas del negocio</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter img" id="section-counter">
  <div class="container">
    <div class="row no-gutters d-flex">
      <div class="col-md-6 d-flex">
        <div class="img d-flex align-self-stretch" style="background-image:url(assets/images/alodesk-about-two.jpg);">
        </div>
      </div>
      <div class="col-md-6 p-3 pl-md-5 py-5 bg-primary">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Solución con disponibilidad 24/7 <span>Cloud</span></h2>
            <p>Software Cloud con funciones clave que permiten a entregar una atención eficiente y en forma oportuna.
              Proporciona interfaces amigables que ayudan una adecuada gestión de tickets</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 mb-4">
              <div class="text">
                <strong class="number" data-number="750">0</strong>
                <span>Project Complete</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 mb-4">
              <div class="text">
                <strong class="number" data-number="568">0</strong>
                <span>Happy Clients</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 mb-4">
              <div class="text">
                <strong class="number" data-number="478">0</strong>
                <span>Business Partners</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 mb-4">
              <div class="text">
                <strong class="number" data-number="780">0</strong>
                <span>IT Consultant</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
