<section class="ftco-section ftco-no-pt">
  <div class="container">
    <!-- <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h2 class="mb-4">Funciones <span>Alódesk</span></h2>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="project">
          <div class="img">
            <img src="images/work-1.jpg" class="img-fluid" alt="">
          </div>
          <div class="text text-center">
            <span>Catálogo de servicios</span>
            <h3><a href="project.html">Catálogo de servicios relacionados con tecnología</a></h3>
          </div>
          <a href="images/work-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="fa fa-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="project">
          <div class="img">
            <img src="images/work-2.jpg" class="img-fluid" alt="">
          </div>
          <div class="text text-center">
            <span>Preguntas frecuentes</span>
            <h3><a href="project.html">Base de conocimiento a tareas comunes</a></h3>
          </div>
          <a href="images/work-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="fa fa-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="project">
          <div class="img">
            <img src="images/work-3.jpg" class="img-fluid" alt="">
          </div>
          <div class="text text-center">
            <span>Priorización de servicios</span>
            <h3><a href="project.html">Priorización de tickets por nivel de complejidad</a></h3>
          </div>
          <a href="images/work-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="fa fa-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="project">
          <div class="img">
            <img src="images/work-4.jpg" class="img-fluid" alt="">
          </div>
          <div class="text text-center">
            <span>Seguridad</span>
            <h3><a href="project.html">Control de acceso a usuarios según su perfil</a>
            </h3>
          </div>
          <a href="images/work-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="fa fa-expand"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
