<div class="wrap">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md d-flex align-items-center">
        <p class="mb-0 phone"><span class="mailus">Contactos: </span> <a href="javascript:void(0);">{{phoneContact}}</a>
          <span class="mailus"> | </span> <a href="javascript:void(0);">{{emailContact}}</a>
        </p>
      </div>
      <div class="col-12 col-md d-flex justify-content-md-end">
        <div class="social-media">
          <p class="mb-0 d-flex">
            <a href="{{facebookPage}}" class="d-flex align-items-center justify-content-center clickFacePage"
              target="_blank"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
            <a href="{{instagramPage}}" class="d-flex align-items-center justify-content-center clickInstagPage"
              target="_blank"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
            <a href="{{webSite}}" class="d-flex align-items-center justify-content-center"><span
                class="fa fa-dribbble"><i class="sr-only">Web</i></span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
