<app-top></app-top>
<app-header></app-header>
<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/banner-one.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">Funcionalidades</h1>
        <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="['/']">Inicio <i
                class="fa fa-chevron-right"></i></a></span> <span>Funcionalidades <i
              class="fa fa-chevron-right"></i></span></p>
      </div>
    </div>
  </div>
</section>
<app-properties></app-properties>
<app-frequent-question></app-frequent-question>
<app-contact></app-contact>
<app-contact-strip></app-contact-strip>
<router-outlet></router-outlet>
<app-footer></app-footer>
