<section class="ftco-section section-prices">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-6 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <h2 class="mb-4">Método de <span>Implementación</span> disponible</h2>
        <p>Consite de dos formas de implementación del Software. Desde la instalación en los servidores del cliente hasta
          uso de proveedores Cloud conocidos como; Microsoft Azure, GCP y AWS.</p>
      </div>
    </div>

    <div class="row d-flex planes justify-content-center">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="card mb-3">
          <div class="card-header bg-primary text-white text-center">ON-PREMISE</div>
          <div class="card-body ">
            <div class="card-text">
              <p>
                Consiste en alojar el software en el servidor del cliente. Se brinda el apoyo con la implementación hasta
                dejar funcionando al 100%.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="card mb-3">
          <div class="card-header bg-primary text-white text-center">CLOUD</div>
          <div class="card-body ">
            <div class="card-text">
              <p>
                Nos encargamos de alojar el software en los servidores de Cloud (Azure, GCP, AWS y Otros). Le aseguramos
                la disponibilidad de 99.99% para
                acceder en cualquier momento y lugar que se encuentre.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-5">
      <div class="col-md-8 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <p>Si es que no encuentra un método que se ajusta a su necesidad, póngase en contacto con nosotros. Disponemos
          de otros <span class="text-primary">métodos de implementación</span> personalizados</p>
      </div>
    </div>
  </div>
</section>
