<section class="ftco-section section-prices ftco-animate">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-6 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <h2 class="mb-4">Método de <span>Implementación</span> disponible</h2>
        <p>Consite de dos formas de implementación del Software. Desde la instalación en los servidores del cliente
          hasta
          el uso de proveedores Cloud populares como; Microsoft Azure, GCP y AWS.</p>
      </div>
    </div>

    <div class="row d-flex planes justify-content-center">
      <div class="col-md-4 d-flex">
        <div class="card mb-3">
          <div class="card-header bg-primary text-white text-center">ON-PREMISE</div>
          <div class="card-body ">
            <div class="card-text">
              <p>
                Consiste en alojar el software en la infraestructura gestionada por el cliente. Ya sea en servidores
                propios o contratados, por ejemplo: Microsoft Azure, AWS, GCP, etc. Nos encargamos de instalar y
                configurar en plataforma IaaS o PaaS según su elección, hasta dejar funcionando al 100%.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="card mb-3">
          <div class="card-header bg-primary text-white text-center">CLOUD</div>
          <div class="card-body ">
            <div class="card-text">
              <p>
                Nos encargamos de alojar el software en los servidores de Cloud (Azure, GCP, AWS y Otros). La
                infraesctura es gestionada por nosotros en plataforma PaaS para segurar la seguridad y disponibilidad en
                99.9%.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-5">
      <div class="col-md-8 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <p>Si tiene dudas sobre el método de implementación o no se ajusta a su necesidad, póngase en contacto con
          nosotros. Disponemos
          de otros <span class="text-primary">métodos de implementación</span> personalizados</p>
      </div>
    </div>
  </div>
</section>
