<section class="ftco-section section-prices">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-6 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <h2 class="mb-4">Método de <span>Implementación</span> disponible</h2>
      </div>
    </div>

    <div class="row d-flex planes justify-content-center">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="card mb-3">
          <div class="card-header bg-primary text-white text-center">ON-PREMISES</div>
          <div class="card-body ">
            <div class="card-text">
              <p>
                Consiste en alojar el software en su servidor. Se configura en IIS para disponer en línea y poder
                acceder desde cualquier lugar, dispositivo y hora
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="card mb-3">
          <div class="card-header bg-primary text-white text-center">CLOUD</div>
          <div class="card-body ">
            <div class="card-text">
              <p>
                Nosotros nos encargamos de alojar el software. Únicamente le brindamos una URL para que puedan acceder
                desde internet en cualquier momento y del lugar donde estés
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
