<section class="ftco-intro section-intro">
  <div class="container">
      <div class="row justify-content-end">
          <div class="col-md-7">
              <div class="row no-gutters d-flex align-items-stretch">
                  <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                      <div class="services-1">
                          <div class="line"></div>
                          <div class="icon"><span class="fas fa-wrench"></span></div>
                          <div class="media-body">
                              <h3 class="heading mb-3">Entrega de un servicio eficiente al cliente</h3>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                      <div class="services-1 color-1">
                          <div class="line"></div>
                          <div class="icon"><span class="fas fa-headphones"></span></div>
                          <div class="media-body">
                              <h3 class="heading mb-3">Punto de contacto único entre el equipo de soporte y el cliente</h3>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                      <div class="services-1 color-2">
                          <div class="line"></div>
                          <div class="icon"><span class="fas fa-chart-line"></span></div>
                          <div class="media-body">
                              <h3 class="heading mb-3">Indicadores estadísticos para medir la calidad de servicio</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
