<section class="ftco-intro section-intro">
  <div class="container">
      <div class="row justify-content-end">
          <div class="col-md-7">
              <div class="row no-gutters d-flex align-items-stretch">
                  <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                      <div class="services-1">
                          <div class="line"></div>
                          <div class="icon"><span class="fas fa-keyboard"></span></div>
                          <div class="media-body">
                              <h3 class="heading mb-3">Facilidad para aprender el uso del sistema</h3>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                      <div class="services-1 color-1">
                          <div class="line"></div>
                          <div class="icon"><span class="fas fa-tachometer-alt"></span></div>
                          <div class="media-body">
                              <h3 class="heading mb-3">Rápidez en el envío de documentos y sin intermediarios</h3>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                      <div class="services-1 color-2">
                          <div class="line"></div>
                          <div class="icon"><span class="fas fa-dollar-sign"></span></div>
                          <div class="media-body">
                              <h3 class="heading mb-3">Ahorro en costos, suministros y mejora la rentabilidad</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
