<section class="ftco-section services-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-6 heading-section text-center ftco-animate">
        <h2 class="mb-4">Funciones <span>esenciales</span> de Alódesk</h2>
      </div>
    </div>
    <div class="row d-flex no-gutters">
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="line"></div>
          <div class="icon"><span class="fas fa-exclamation-triangle"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Gestión de incidencias</h3>
            <p>	Minimice las interrupciones que detienen la operación de los usuarios, aumente la productividad del equipo encargado en soporte</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="line"></div>
          <div class="icon"><span class="fas fa-exclamation-circle"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Gestión de problemas</h3>
            <p>Reduzca los incidentes comunes con apoyo de base de nocimiento (base Faq’s.)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="line"></div>
          <div class="icon"><span class="fas fa-headset"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Gestión de requerimientos</h3>
            <p>Gestione los requerimientos y las necesidades de las áreas del negocio</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="line"></div>
          <div class="icon"><span class="fas fa-chart-bar"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Tablero de indicadores</h3>
            <p>Visualización de informes para medir resultados del equipo y tomar mejores decisiones</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
