<section class="ftco-section services-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-6 heading-section text-center ftco-animate">
        <h2 class="mb-4">Funciones <span>básicas</span> de Alódesk</h2>
        <p>Alódesk posee una gran cantidad funciones que le permite cumplir de una mejor manera la atención de tickets
        </p>
      </div>
    </div>
    <div class="row d-flex no-gutters">
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="line"></div>
          <div class="icon"><span class="fas fa-exclamation-triangle"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Gestión de incidencias</h3>
            <p>Elimine las interrupciones que detienen la operación de los usuarios. Genere mayor productividad del
              equipo de soporte</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="line"></div>
          <div class="icon"><span class="fas fa-headset"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Gestión de requerimientos</h3>
            <p>Sé el mejor aliado atendiendo los requerimientos y necesidades de las áreas del negocio</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="line"></div>
          <div class="icon"><span class="fas fa-gear"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Automatización de tareas</h3>
            <p>Automatice el proceso de atención de incidentes comunes con apoyo de base de conocimiento y preguntas
              frecuentes</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="line"></div>
          <div class="icon"><span class="fas fa-chart-bar"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Tablero de indicadores</h3>
            <p>Visualice informes con indicadores avanzados para medir resultados del equipo y así poder tomar mejores
              decisiones</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
