<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>¿Quieres saber más sobre el <span class="text-primary">Sotware de Mesa de Ayuda</span>?</h2>
        <p>Solicita una demostración en línea para conocer la funcionalidad completa del Software. Le brindamos una “Demo”
          totalmente <span class="text-primary">¡Gratis!</span></p>
        <div class="form-group">
          <a [routerLink]="['/contactanos']" class="btn btn-primary py-3 px-4 btnEnviar">Solicitar Demostración</a>
        </div>
      </div>
    </div>
  </div>
</section>
